.users_card {
        border: 1px solid gray;
        border-radius: 15px;
        background-color: rgb(116, 60, 138);
        padding: 20px;
        margin: 35px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        color: white;
        text-align: center;
        cursor: pointer;
        
    }

.users_card img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}    
    
.users_card:hover {
        background-color: rgb(192, 147, 200);
        color: rgb(10, 10, 10);
    }
