.post_item {
    border: 2px solid rgb(92, 92, 92);
    border-radius: 20px;
    background-color: #f6e58d;
    padding: 20px;
    margin: 15px;
    width: 350px;
    font-size: large;

    position: relative;
    min-height: 80px;
    

}

.like_btn {
    border: 1px solid rgb(92, 92, 92);
    border-radius: 15px;
    background-color: #1e99a4;
    color: white;
    padding: 8px;
    width: 60px;
    text-align: center;
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

.like_btn_active {
    background-color: #ff7979;
    border-color: rgb(92, 92, 92);
    color: rgb(48, 48, 48);
}

.cross_icon{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}