* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.usersCard {
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgb(7, 103, 122);
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    padding: 20px;
    margin: 20px;

}

.usersCard p {
    padding: 5px;
}

.usersCard:hover {
    background-color: white;
    color: rgb(36, 49, 52);
    font-weight: 800;
}



