.product_card {
    border: 1px solid gray;
    border-radius: 15px;
    background-color: rgb(8, 159, 149);
    padding: 20px;
    margin: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 300px;
}

.product_card:hover {
    background-color: rgb(253, 237, 216);
    color: rgb(10, 10, 10);
}