* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.productsCard {
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgb(87, 91, 123);
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    width: 380px;
    padding: 30px;
    margin: 20px;
    text-align: center;

}

.productsCard p {
    padding: 5px;
}

.productsCard:hover {
    background-color: white;
    color: rgb(87, 91, 123);
    font-weight: 800;
}

